{{#if @site.navigation}}
<ul class='nav'>
  <li class='nav-home nav-current'>
    <div class="dropdown">
      <div class="dropbtn">
        <a class='menu-button' href='/'><span class='word'>Trang chủ</span></a>
      </div>
      <div class="dropdown-content">
        <div class="sub-content">
          <a href="#" class="sub-content__text">Giới thiệu</a>
        </div>

        <div>
          <a href="#">Dịch vụ/Sản phẩm</a>
        </div>

        <div>
          <a href="#">Tin tức sự kiện</a>
        </div>

        <div>
          <a href="#">Cơ hội nghề nghiệp</a>
        </div>

        <div>
          <a href="#">Đối tác</a>
        </div>

        <div>
          <a href="#">Liên hệ</a>
        </div>
      </div>
    </div>
  </li>
  <li class='nav-about'>
    <a class='menu-button' href='/about'><span class='word'>Về công ty</span></a>
  </li>
  <li class='nav-news'>
    <a class='menu-button' href='/about'><span class='word'>Tin tức</span></a>
  </li>
  <li class='nav-products'>
    <a class='menu-button' href='/about'><span class='word'>Sản phẩm</span></a>
  </li>
  <li class='nav-parters'>
    <a class='menu-button' href='/about'><span class='word'>Đối tác</span></a>
  </li>
  <li class='nav-recruiment'>
    <a class='menu-button' href='/about'><span class='word'>Tuyển dụng</span></a>
  </li>
  <li class='nav-contact'>
    <a class='menu-button' href='/about'><span class='word'>Liên hệ</span></a>
  </li>
</ul>
{{/if}}
